<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>myportfolio</display-name>
	<listener>
		<listener-class>com.begin.Start</listener-class>
	</listener>
	<servlet>
		<servlet-name>Message</servlet-name>
		<display-name>Message</display-name>
		<description></description>
		<servlet-class>tech.codehunt.controller.Message</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>tech.codehunt.controller.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logins</servlet-name>
		<display-name>Logins</display-name>
		<description></description>
		<servlet-class>tech.codehunt.controller.Logins</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>tech.codehunt.controller.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Change</servlet-name>
		<display-name>Change</display-name>
		<description></description>
		<servlet-class>tech.codehunt.controller.Change</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Project</servlet-name>
		<display-name>Project</display-name>
		<description></description>
		<servlet-class>tech.codehunt.controller.Project</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Education</servlet-name>
		<display-name>Education</display-name>
		<description></description>
		<servlet-class>tech.codehunt.controller.Education</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Resume</servlet-name>
		<display-name>Resume</display-name>
		<description></description>
		<servlet-class>tech.codehunt.controller.Resume</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Message</servlet-name>
		<url-pattern>/Message</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logins</servlet-name>
		<url-pattern>/Logins</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Change</servlet-name>
		<url-pattern>/Change</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Project</servlet-name>
		<url-pattern>/Project</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Education</servlet-name>
		<url-pattern>/Education</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Resume</servlet-name>
		<url-pattern>/Resume</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
